/* SEARCH CONTAINER */

.search__container {
  grid-column: 1fr;
  margin:0 auto;
}
.result__title {
  text-align: center;
  padding-bottom: 20px;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px rgba(255, 0, 0, 0.89);
  font-size: 18px;
  @media all and (min-width: 768px) {
    font-size: 1.5em;
  }
}
.search__results {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  @media all and (min-width: 768px) {
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
}
.show {
  margin: 10px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.877);
  border-radius: 5px;
  color: red;
  border: solid 2px red;
}
.show__wrapper{
  position:relative
}
.showTitle {
  margin: 5px;
  min-height: 50px;
}
.show__fav {
  color: black;
  background-color: rgba(255, 0, 0, 0.945);
}
.urlLink{
  display: block;
  text-indent:-9999em;
  background-image: url(../images/question.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  margin-bottom:10px;
}
