@import 'core/settings';
@import 'core/links';

* {
  margin:0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
.page__header{

}
.page__main{
  display:grid;
  grid-template-columns: auto 1fr;
}
.fav{
  grid-column: auto;
}
.search__container{
  grid-column:1fr;
  text-align: center;
}
.search__results{
  display:flex;
  flex-wrap: wrap;
}
.show{
  margin:10px;
  width: 250px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:15px;
  background-color: lightblue;
  border-radius:5px;
  color: rgb(108, 138, 202);
}

.show__fav{
  background-color: pink;
  color: rgb(206, 90, 186);
}
.showTitle{
  margin:5px;
}
.favShow{
  margin:10px;
  width: 150px;
  .favImg{
    width:125px;
  }
}
